
.box {
    margin: 0 auto;
    width: 1366px;
    height: 100%;
    text-align: center;
    color:white;

}
a{
    text-decoration: none;
    color:white;
    font-size: 12px;
    font-family: PingFangSC-Regular;
}



